.form {
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select__to span,
.select__from span,
.datepicker span {
  position: fixed;
  font-size: small;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  margin-left: auto;
  margin-right: auto;
  padding: 0;
  justify-content: center;
}

.select__from span,
input,
.select__to span,
input,
.datepicker span,
input,
.button__search span,
button {
  display: block;
}

.select__from input {
  width: 18rem;
  height: 3.5rem;
  border-radius: 0.3rem;
  font-size: 1.5;
}

.select__to input {
  width: 18rem;
  height: 3.5rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

.datepicker input {
  width: 18rem;
  height: 3.5rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

.button__search button {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.2rem;
  background-color: #044599;
  font-size: larger;
  font-weight: bold;
  color: white;
  border-width: 0rem;
}

.button__search button:hover {
  background-color: #043372;
}

.button__search button:disabled {
  background-color: #cccccc;
  color: #666666;
}

.select__from,
.select__to,
.datepicker {
  position: relative;
}

.select__from span,
.select__to span,
.datepicker span {
  position: absolute;
  left: 0.125rem;
}

input {
  padding-left: 0.125rem;
}

.form_text1 {
  margin-top: 0.031rem;
  color: red;
  font-size: smaller;
}

.form_1 {
  margin-bottom: 1.875rem;
}

.inputForm {
  margin-top: 3.75rem;
}

.row2 {
  position: relative;
}

.spinner {
  position: absolute;
  top: 20%;
  right: -15%;
  max-width: 14.375rem;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}

@media (max-width: 50em) {
  .grid {
    grid-template-columns: auto;
    justify-content: center;
  }
  .centralized {
    width: 15rem;
  }
}

@media (max-width: 47.44em) {
  .datePicker {
    width: 15rem;
  }
}

@media (max-width: 144em) {
  .spinner {
    display: none;
  }
}
