@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:wght@200&display=swap");

.card {
  margin-top: 3rem;
  margin-bottom: 1.875rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 150ms ease-in;
}

.card__body img {
  width: 100%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.card__body title {
  padding: 1rem;
}

.card__body description {
  padding: 0 1rem;
}

.card__btn {
  width: 10rem;
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  background-color: #0651b4;
  border-radius: 0.4rem;
}

.card:hover {
  transform: scale(1.02);
}

.card button:hover {
  background-color: #044599;
  cursor: pointer;
  transform: scale(1.02);
  font-size: 1.4rem;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
}

@media (max-width: 74em) {
  .card {
    margin-top: 1rem;
  }

  .card__btn {
    width: 14rem;
  }
}

@media (max-width: 46em) {
  .card__btn {
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
  }
}
