.form {
  margin-top: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 1rem;
}

@media (max-width: 89em) {
  .grid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
  }

  .btn1 {
    grid-column: 2;
    grid-row: 2;
  }

  .btn2 {
    grid-column: 3;
    grid-row: 2;
  }
}

@media (max-width: 68em) {
  .grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }

  .btn1 {
    grid-column: 1;
    grid-row: 3;
  }

  .btn2 {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (max-width: 50em) {
  .grid {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
  }

  .btn1 {
    grid-column: 1;
    grid-row: 5;
  }

  .btn2 {
    grid-column: 1;
    grid-row: 6;
  }

  .inputField {
    width: 15rem;
  }

  .centralized {
    margin-left: auto;
    margin-right: auto;
  }
}

.select__to span,
.select__from span,
.datepicker span {
  position: fixed;
  font-size: small;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.select__from span,
input,
.select__to span,
input,
.datepicker span,
input,
.button__search span,
button {
  display: block;
}

.select__from input {
  width: 18rem;
  height: 3.5rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

.select__to input {
  width: 18rem;
  height: 3.5rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

.datepicker input {
  width: 18rem;
  height: 3.5rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

.button__search button {
  width: 10rem;
  height: 3.5rem;
  border-radius: 0.2rem;
  background-color: #044599;
  font-size: larger;
  font-weight: bold;
  color: white;
  border-width: 0rem;
}

.button__search button:hover {
  background-color: #043372;
}

.button__search button:disabled {
  background-color: #cccccc;
  color: #666666;
}

.select__from,
.select__to,
.datepicker {
  position: relative;
}

.select__from span,
.select__to span,
.datepicker span {
  position: absolute;
  left: 0.125rem;
}

input {
  padding-left: 0.125rem;
}

.form_text1 {
  margin-top: 0.031rem;
  color: red;
  font-size: smaller;
}

.form_1 {
  margin-bottom: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.inputForm {
  margin-top: 3.75rem;
}

@media (max-width: 50em) {
  .inputForm {
    margin-top: 3.75rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.btnChoose {
  margin-top: 0.625rem;
}

.btns {
  margin-top: 0.75rem;
  position: relative;
}

.airportSelected {
  color: red;
}

.citySelected {
  padding: 0.438rem;
  color: green;
  margin-top: 0.625rem;
  font-size: larger;
  font-weight: 600;
  background-color: white;
  border-style: solid;
  border-color: green;

  border-radius: 0.4rem;
}

.check {
  margin-left: 8.75rem;
}

.spinner {
  position: absolute;
  top: 60%;
  right: 0%;
  max-width: 14.375rem;
}

.spinner2 {
  position: absolute;
  top: 20%;
  right: -70%;
  max-width: 14.375rem;
}

@media (max-width: 48em) {
  .fields {
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 144em) {
  .spinner,
  .spinner2 {
    display: none;
  }
}
