.row {
  width: 100%;
  position: relative;
  background-color: white;
  border-style: ridge;
  border-radius: 0.188rem;
}

.align {
  height: 13.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 29em) {
}

.colorBlue {
  color: #044599;
}

.toast {
  position: absolute;
  top: 28%;
  right: -27%;
  max-width: 14.375rem;
}

.textBody {
  color: white;
}

.location {
  margin-top: 0.313rem;
}
.location p {
  color: red;
  font-size: x-small;
}

@media (max-width: 54.5em) {
  .align {
    height: 22rem;
  }
}

@media (max-width: 31.25em) {
  .align {
    height: 26rem;
  }

  .align p {
    font-size: smaller;
  }
}
