.table {
  width: 60%;
  margin-top: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
  align-items: center;
}

.sort {
  margin-top: 3.125rem;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 0.938rem;
}

@media (max-width: 89em) {
  .table {
    width: 90%;
  }
}

@media (max-width: 57.2em) {
  .table {
    width: 95%;
  }
}
